# Spark/Python ignore
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/

# Data files (they are too large for GitHub)
data/inbox/*.parquet
data/outbox/*.parquet
data/*.parquet

# Local Spark logs/state
.spark-staged/
metastore_db/
derby.log
checkpoint/
